@tailwind base;
@tailwind components;
@tailwind utilities;

@import './bookish.css';

@layer base {
  :root {
    --shad-background: 0 0% 100%;
    --shad-foreground: 222.2 84% 4.9%;
    --shad-card: 0 0% 100%;
    --shad-card-foreground: 222.2 84% 4.9%;
    --shad-popover: 0 0% 100%;
    --shad-popover-foreground: 222.2 84% 4.9%;
    --shad-primary: 221.2 83.2% 53.3%;
    --shad-primary-foreground: 210 40% 98%;
    --shad-secondary: 210 40% 96.1%;
    --shad-secondary-foreground: 222.2 47.4% 11.2%;
    --shad-muted: 210 40% 96.1%;
    --shad-muted-foreground: 215.4 16.3% 46.9%;
    --shad-accent: 210 40% 96.1%;
    --shad-accent-foreground: 222.2 47.4% 11.2%;
    --shad-destructive: 0 84.2% 60.2%;
    --shad-destructive-foreground: 210 40% 98%;
    --shad-border: 214.3 31.8% 91.4%;
    --shad-input: 214.3 31.8% 91.4%;
    --shad-ring: 221.2 83.2% 53.3%;
    --shad-radius: 0.5rem;
  }

  .dark {
    --shad-background: 222.2 84% 4.9%;
    --shad-foreground: 210 40% 98%;
    --shad-card: 222.2 84% 4.9%;
    --shad-card-foreground: 210 40% 98%;
    --shad-popover: 222.2 84% 4.9%;
    --shad-popover-foreground: 210 40% 98%;
    --shad-primary: 217.2 91.2% 59.8%;
    --shad-primary-foreground: 222.2 47.4% 11.2%;
    --shad-secondary: 217.2 32.6% 17.5%;
    --shad-secondary-foreground: 210 40% 98%;
    --shad-muted: 217.2 32.6% 17.5%;
    --shad-muted-foreground: 215 20.2% 65.1%;
    --shad-accent: 217.2 32.6% 17.5%;
    --shad-accent-foreground: 210 40% 98%;
    --shad-destructive: 0 62.8% 30.6%;
    --shad-destructive-foreground: 210 40% 98%;
    --shad-border: 217.2 32.6% 17.5%;
    --shad-input: 217.2 32.6% 17.5%;
    --shad-ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--shad-border));
  }
  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}